.container
  #menu-bar
    %button.top-menu-btn#menu-button
      %i.icon-reorder

    #timer
    #score-display score

    %ul#menu.hidden
      .wrapper
        %li 
          %button.menu-item#new-game-button new game
        %li 
          %button.menu-item#change-lang-button choose language
        %li 
          %button.menu-item#help-button help
    %ul#menu-languages

  #game-board
    #guess-word-bar
      #guess-word-bar-text
      %button#enter-key
        %i.icon-arrow-right
      %button#delete-key
        %i.icon-remove

    #pick-letters-bar
    #definition-bar
      #definition-bar-text
      #definition-bar-label
    #found-words-bar
      #found-words-bar-text
      #found-word-display
    
    #end-round-display
      .end-round-score-display
      .small-prompt (please click to continue)
    #help-display
      %li Find words in the jumble while reviewing 2nd languages
      %li Click letter boxes, or type to form a word
      %li Click left arrow button or press enter key button to submit
      %li Click X button or press backspace to delete a letter
      %li Click on found words at the bottom to view translations
      %li Translation is always to/from english to/from another language
    #lang-display
      .clearfix language to translate to
      .lang-col-left
        %button.lang-box english
        / .lang-box spanish
      .lang-col-right
        %button.lang-box english
        %button.lang-box spanish

  #loading-gif
    = image_tag 'loading.gif'
    #loading-text Loading dictionary ...

:javascript
  // for mobile responsive touch
  var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent);
  window.touchType = isMobile ? "touchstart" : "click";

  // preload english dictionary
  LW.dictionary['english'] = 
    new LW.Models.Dictionary({language: 'english'});
  $('#loading-gif').show();
  LW.dictionary['english'].fetch({
    success: function(model, resp, opts) {
      $('#loading-gif').hide();
    }
  });
  $(function() { LW.boot(); });


