.container
  #menu-bar
    %button.btn#menu-button
      %i.icon-reorder

    #timer
    #score-display score

    %ul#menu.hidden
      %li 
        %button.btn#new-game-button new game
      %li 
        %button.btn#change-lang-button choose language
    %ul#menu-languages

  #game-board
    #guess-word-bar
      #guess-word-bar-text
      %button#enter-key
        %i.icon-arrow-right
      %button#delete-key
        %i.icon-chevron-left
        %i.icon-remove

    #pick-letters-bar
    #show-definition-bar
      #show-definition-bar-text
      #show-definition-bar-label Definitions
    #found-words-bar
      #found-words-bar-text
      #found-word-display
    
    #end-round-display
      .end-round-score-display
      .small-prompt (please click to continue)
    #loading-gif
      = image_tag 'loading.gif'
      #loading-text Loading dictionary ...

:javascript

  LW.dictionary['english'] = 
    new LW.Models.Dictionary({language: 'english'});
  $('#loading-gif').show();
  LW.dictionary['english'].fetch({
    success: function(model, resp, opts) {
      $('#loading-gif').hide();
    }
  });
  $(function() { LW.boot(); });


