.container
  #menu-bar
    %button.btn#menu-button
      %i.icon-reorder

    #timer
    #score-display score

    %ul#menu.hidden
      %li 
        %button.btn#new-game-button new game
      %li 
        %button.btn#change-lang-button choose language
    %ul#menu-languages

  #game-board
    #guess-word-bar
      #guess-word-bar-text
      %button#enter-key
        %i.icon-arrow-right
      %button#delete-key
        %i.icon-remove

    #pick-letters-bar
    #definition-bar
      #definition-bar-text
      #definition-bar-label Definition
    #found-words-bar
      #found-words-bar-text
      #found-word-display
    
    #end-round-display
      .end-round-score-display
      .small-prompt (please click to continue)
    #help-display
      %div Find words in the jumble
      %div click letter boxes, or type to form a word
      %div click left arrow button or press left arrow button to submit
      %div click delete-looking button or press backspace to delete a letter

    #loading-gif
      = image_tag 'loading.gif'
      #loading-text Loading dictionary ...

:javascript
  // for mobile responsive touch
  window.touchType = (typeof Touch !== "undefined") ? 'touchstart' : 'mousedown';


  LW.dictionary['english'] = 
    new LW.Models.Dictionary({language: 'english'});
  $('#loading-gif').show();
  LW.dictionary['english'].fetch({
    success: function(model, resp, opts) {
      $('#loading-gif').hide();
    }
  });
  $(function() { LW.boot(); });


