.container
  #menu-bar
    %button.btn#menu-button
      %i.icon-reorder

    #timer
    #score-display score

    %ul#menu
      %li 
        %button.btn#new-game-button new game
      %li 
        %button.btn#change-lang-button choose language
    %ul#menu-languages

  #game-board
    #guess-word-bar
      #guess-word-bar-text
      %button#enter-key
        %i.icon-arrow-right
      %button#delete-key
        %i.icon-chevron-left
        %i.icon-remove

    #letters-bar
    #show-definition-bar
      #show-definition-bar-text
      #show-definition-bar-label Definitions
    #found-bar
      #found-words
      #found-word-display

    #loading-gif
      = image_tag 'loading.gif'
      #loading-text Loading dictionary ...


  %script(id="letter-square-tmpl" type="text/x-handlebars-template")
    .letter-square

  %script(id="letter-chosen-tmpl" type="text/x-handlebars-template")
    #letter-chosen-square
