.top-menu-btn {
  margin: 10px 10px;
  padding: 8px 10px;
}

.wrapper {
  padding: 8px 10px;
}

.menu-item {
  width: 100%;
  padding: 8px 10px;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: image-url('background2.jpg')
}

#menu {
  position: absolute;
  z-index: 5;
  background-color: rgb(80,112,86);
  box-shadow: 0px 0px 10px grey;
}

.hidden {
  display: none;
}

#menu-bar {
  background-color: rgba(73, 12, 29, 0.75);
  box-shadow: 0px 0px 10px grey;
}

#game-board {
  position: relative;
  box-shadow: 0px 0px 10px grey;
}

#guess-word-bar, #pick-letters-bar, #definition-bar, #found-words-bar {
  background-color: #ddd;
  padding: 6px 10px;
  border-bottom: 2px dotted #888;
}

#menu-button {
  display: inline-block;
}
#timer, #score-display {
  display: inline-block;
  min-height: 5px;
  vertical-align: middle;
  background-color: white;
  line-height: 30px;
  border: 2px solid rgba(170, 136, 170, 0.69);
  box-shadow: 0px 0px 5px grey;
}

#timer {
  padding-left: 20px;
  width: 90px;
  font-size: 35px;
  color: rgb(26, 63, 102);
}

#score-display {
  padding-left: 5px;
  width: 120px;
  font-size: 30px;
  color: rgb(41, 98, 158);
}

#guess-word-bar                   { min-height: 50px; }
#pick-letters-bar                      { min-height: 50px; }
#found-words-bar                         { height: 120px; }

#guess-word-bar {
  position: relative;
  color: rgb(41, 81, 141);
  font-size: 45px;
  padding: 16px 10px 0px 10px
}

#enter-key, #delete-key {
  font-size: 40px;
  line-height: 0px;
  padding: 3px 0px;
  height: 48px;
  width: 50px;
  position: absolute;
  top: 10px;
  right: 60px;
  border-radius: 5px;
  background-color: rgb(41, 81, 141);
  color: white;
  &:hover {
    background-color: rgb(71, 111, 171);
  }
  &:active {
    background-color: rgb(21, 61, 121);
  }
}

#enter-key {
  right: 80px;
}

#delete-key {
  right: 20px;
  white-space: nowrap;
}

.letter-square {
  font-family: courier;
  text-transform: uppercase;
  display: inline-block;
  height: 40px;
  width: 30px;
  padding: 13px 6px 0px 6px;
  margin: 3px 3px;
  background-color: rgb(49, 86, 124);
  border: 2px solid #8ab;
  color: #eee;
  font-size: 45px;
  line-height: 20px;
  box-shadow: 0px 0px 6px black inset;
  &:hover {
    background-color: #579;
  }
  &:active {
    color: white;
    background-color: #077;
  }
}

.letter-square.picked {
  background-color: rgb(177, 183, 196);
}

@media only screen and (max-width: 479px) {
  .letter-square {
    width: 26px;
    font-size: 40px;
    padding: 8px 4px 0px 4px;
  }
}

#definition-bar {
  position: relative;
  height: 100px; 
  overflow-y: auto;
}

#definition-bar-label {
  position: absolute;
  top: 5px;
  left: 8px;
}

#definition-bar-text {
  margin-top: 20px;
}

#found-word-display {
  display: none;
  position: absolute;
  left: 50%;
  top: 250px;
  margin-left: -200px;
  height: 60px;
  line-height: 55px;
  padding: 0 20px;
  font-size: 50px;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 20px 10px white;
}

.word {
  padding: 0 15px;
  float: left;
  cursor: pointer;
}

#end-round-display, #help-display, #lang-display {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(73, 12, 29, 0.92);
  z-index: 4;
  color: #dadada;
  line-height: 60px;
  box-shadow: 0px 0px 10px black inset;
  overflow-y: auto;
}

#end-round-display {
  vertical-align: middle;
  text-align: center;
  .end-round-score-display {
    font-size: 50px;
  }
  .small-prompt {
    font-size: 30px;
  }
}

#help-display {
  font-size: 25px;
  padding: 20px 30px;
}

#lang-display {
  font-size: 25px;
  padding: 20px 30px;
  .lang-col-left, .lang-col-right {
    margin-bottom: 20px;
  }
  .lang-col-left {
    float: left;
  }
  .lang-col-right {
    float: right;
  }
  .lang-box {
    background-color: rgb(41, 81, 141);
    padding: 0px 10px;
    margin: 20px 0px;
    box-shadow: 0px 0px 10px black inset;
  }
}


#loading-gif {
  z-index: 10;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  top: -250px;
}

