.btn {
  margin: 10px 10px;
  padding: 8px 10px;
  // background-color: #ddd;
  // &:hover {
  //   background-color: #bbb;
  // }
  // &:active {
  //   background-color: #a9a;
  // }
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: image-url('background2.jpg')
}

#menu {
  position: absolute;
  visibility: hidden;
  z-index: 5;
  background-color: rgb(80,112,86);
  box-shadow: 0px 0px 10px grey;
}

#menu-bar {
  background-color: rgba(73, 12, 29, 0.75);
  box-shadow: 0px 0px 10px grey;
}

#game-board {
  box-shadow: 0px 0px 10px grey;
}

#guess-word-bar, #letters-bar, #show-definition-bar, #found-bar {
  background-color: #ddd;
  padding: 6px 10px;
  border-bottom: 2px dotted #888;
}

#menu-button {
  display: inline-block;
}
#timer, #score-display {
  display: inline-block;
  min-height: 5px;
  vertical-align: middle;
  background-color: white;
  line-height: 30px;
  border: 2px solid rgba(170, 136, 170, 0.69);
  box-shadow: 0px 0px 5px grey;
}

#timer {
  padding-left: 20px;
  width: 90px;
  font-size: 40px;
  color: rgb(26, 63, 102);
}

#score-display {
  padding-left: 5px;
  width: 120px;
  font-size: 30px;
  color: rgb(41, 98, 158);
}

#guess-word-bar                   { min-height: 50px; }
#letters-bar                      { min-height: 50px; }
#found-bar                         { height: 120px; }

#guess-word-bar {
  position: relative;
  color: rgb(41, 81, 141);
  font-size: 45px;
  padding: 16px 10px 0px 10px
}

#enter-key, #delete-key {
  font-size: 40px;
  line-height: 0px;
  padding: 3px 0px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 60px;
  border-radius: 5px;
  background-color: rgb(41, 81, 141);
  color: white;
  &:hover {
    background-color: rgb(71, 111, 171);
  }
  &:active {
    background-color: rgb(21, 61, 121);
  }
}

#enter-key {
  width: 50px;
  right: 90px;
}

#delete-key {
  width: 60px;
  right: 20px;
  letter-spacing: -6px;
  white-space: nowrap;
}

.letter-square {
  text-transform: uppercase;
  display: inline-block;
  height: 40px;
  width: 30px;
  padding: 13px 14px 0px 6px;
  margin: 3px 3px;
  background-color: rgb(49, 86, 124);
  border: 2px solid #8ab;
  color: #eee;
  font-size: 45px;
  line-height: 20px;
  &:hover {
    background-color: #579;
  }
  &:active {
    color: white;
    background-color: #077;
  }
}

.letter-square.picked {
  background-color: rgb(177, 183, 196);
}

@media only screen and (max-width: 479px) {
  .letter-square {
    width: 30px;
    font-size: 40px;
    padding: 8px 4px 0px 4px;
  }
}

#show-definition-bar {
  position: relative;
  height: 100px; 
}

#show-definition-bar-label {
  position: absolute;
  top: 5px;
  left: 8px;
}

#found-word-display {
  display: none;
  position: absolute;
  left: 50%;
  top: 250px;
  margin-left: -200px;
  height: 60px;
  line-height: 55px;
  padding: 0 20px;
  font-size: 50px;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 20px 10px white;
}

#found-words {
  width: 100%;
}

.word {
  padding: 0 15px;
  float: left;
}

#loading-gif {
  z-index: 60;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  top: -50px;
  visibility: hidden;
}
